
<body class="body-list">
    <p>In this project I took on a new challenge to develop a ASP .NET project. I have never worked with this tech stack. However, I have extensive knowledge with HTML/CSS/JS and other backend technologies.
        My first goal was to understand what Dependency Injection was. After that I learn through multiple videos how to setup a ASP.NET MVC project and how to structure my files and folders.
        After I got the list displayed on the screen, I just had to do what I know best, design the page according to the layout that was given. In summary, this project has a clock on the header showing real time,
        my name displayed on the navbar, two aside content (one displaying the mouse position and the other an image slide), a main content displaying the list and this text, and a footer with Allari's link.
    </p>
    <div id="personListContainer" class="personListContainer">
        <button type="button" class="btn btn-secondary btn-ripple" id="showList">Get List of Names!</button>
        <ul id="personList"></ul>
    </div>
    <script src="/js/script.js"></script> 
</body>

