/* Define CSS variables for padding and colors */
:root {
    --padding: 10px;
    --primary-color: #333;
    --secondary-color: #ddd;
}

/* Reset default margin and box-sizing for HTML element */
html {
    margin: 0;
    box-sizing: border-box;
}

/* Container for the entire page */
.page_container {
    position: relative;
    padding: var(--padding);
}

/* Header */
header.header {
    margin-bottom: var(--padding);
    position: sticky;
    top: 0;
    z-index: 10;
    background: black;
    display: flex;
    align-items: center;
    height: 100px;
}

/* Digital Clock inside header */
.digital-clock {
    margin: auto;
    width: 200px;
    color: #ffffff;
    border-radius: 4px;
    text-align: center;
    font-size: 50px;
}

/* Navbar */
.navbar {
    margin-bottom: var(--padding);
    background-color: var(--primary-color);
    color: white;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center !important;
}

/* Main container */
.main__container {
    min-height: 70vh;
    display: grid;
    grid-template-columns: 1fr 60% 1fr;
    gap: var(--padding);
}

/* Main content section */
main {
    margin: 0 var(--padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
}

/* Person list container inside main content */
.personListContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

/* Aside (left and right) */
.aside {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    gap: 10px;
    border-radius: 10px;
}

.aside-left {
    background-color: blue;
}

/* Footer */
.footer__hg {
    margin-top:var(--padding);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    flex-direction: column;
    height: 100px;
}

/* Media query for mobile */
@media (max-width: 768px) {
    .aside {
        padding: var(--padding);
    }

    .main__container {
        height: fit-content;
        gap: var(--padding);
        display: flex;
        flex-direction: column;
    }
}

.carousel__image{
    min-height:70vh;
    object-fit:cover;
    border-radius:10px;
}
/* Button with ripple effect */
.btn-ripple {
    display: inline-block;
    position: relative;
    overflow: hidden;
    transition: all ease-in-out .5s;
}

    .btn-ripple::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 25%;
        height: 100%;
        width: 50%;
        background-color: #000;
        border-radius: 50%;
        opacity: 0;
        pointer-events: none;
        transition: all ease-in-out 1s;
        transform: scale(5, 5);
    }

    .btn-ripple:active::after {
        padding: 0;
        margin: 0;
        opacity: .2;
        transition: 0s;
        transform: scale(0, 0);
    }

